.footer{
    display: flex;
    justify-content: center;
}

.frase-footer {
    display: flex;
    justify-content: space-between;
    font-family: inria sans;
    color: white;
}

.logoPelota {
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    width: 60px;
}