.frase-footer {
    display: flex;
    justify-content: space-between;
    font-family: inria sans;
    color: white;
    padding-right: 450px;
}

.logoPelota {
    display: flex;
    object-fit: cover;
    width: 120px;
    padding-left: 50px;
}