.Logo {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 750px;
}

.btns {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 20px;
}

.clientes {
    font-family: inria sans;
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 80;
    border: none;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(255,115,0,0.8855917366946778) 56%, rgba(255,255,255,0) 100%);
}

.clnts {
    display: flex;
    justify-content: center;
}

.facturas {
    font-family: inria sans;
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 80;
    border: none;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(227,39,24,1) 57%, rgba(255,255,255,0) 100%);
}

.facts {
    display: flex;
    justify-content: center;
}

.albaranes {
    grid-column-start: 3; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 80;
    border: none;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(17,72,153,1) 57%, rgba(255,255,255,0) 100%);
}

.albrns {
    display: flex;
    justify-content: center;
}

.pedidos {
    grid-column-start: 4; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 80;
    border: none;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(46,44,132,1) 57%, rgba(255,255,255,0) 100%);
}

.pdds {
    display: flex;
    justify-content: center;
}

.arrow {
    margin-top: 5px;
}

.frase-footer {
    display: flex;
    justify-content: center;
    font-family: inria sans;
    color: white;
}

.logoPelota {
    display: flex;
    width: 100px;
    
}